* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  background-color: #f4f4f9;
}

